# domain name.

cashbox.work {
    handle_path /api/mobile/* {
      reverse_proxy surreal.service.consul:8000
    }
}

minio.looptask.work {
    reverse_proxy minio.service.consul:9001
}

metabase.looptask.work {
    reverse_proxy metabase:3000
}

prefectweb.service.consul:80 {
    reverse_proxy server:4200
}

prefectapi.service.consul:80 {
    reverse_proxy server:4200
}

ns.service.consul:80 {
    root * /usr/share/caddy

    file_server
}

mail.looptask.work:25 {
    reverse_proxy mail:25
}
